@import "style";

html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  vertical-align: bottom;
}

@media (min-width: 768px) {
  html {
    font-size: 19px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: 22px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}
