$icomoon-font-family: "simple-chat-app" !default;
$icomoon-font-path: "fonts" !default;

$icon-chat-icon: "\e900";
$icon-chat-list-icon: "\e901";
$icon-logout-icon: "\e902";
$icon-people-icon: "\e903";
$icon-send-button: "\e905";

